{% extends './base.html' %}
{# TODO: i18n #}
{% block title %}Forgot Password{% endblock %}
{% block heading %}Forgot Password{% endblock %}
 
{% block navbar_text %}
<span class="d-none d-md-inline-block">Don't have an account?</span>
<a href="{% url 'users:register' %}">Sign up</a>
{% endblock %}
 
{% block messages %}
{% if form.non_field_errors %}
 <div class="alert alert-danger" role="alert">
   {{ form.non_field_errors.0 }}
 </div>
{% endif %}
{% endblock %}
 
{% block content %}
 <form method="post" class="needs-validation" novalidate>
   {% csrf_token %}
  
   <p>We'll send you an email with a password reset link.</p>
 
   <div class="mb-3">
     <label class="form-label" for="{{ form.email.id_for_label }}">
         {{ form.email.label }}<sup>*</sup>
     </label>
     <input
       class="form-control form-control-lg {% if form.email.errors %}is-invalid{% endif %}"
       name="{{ form.email.html_name }}"
       id="{{ form.email.id_for_label }}"
       placeholder="Enter your email address"
       value=""
       required
       autofocus
     >
     <div class="invalid-feedback">
       {% if form.email.errors %}
         {{ form.email.errors.0 }}
       {% endif %}
     </div>
   </div>
 
   <input type="hidden" name="next" value="{{ next }}">
 
   <button class="btn btn-lg btn-primary w-100 mb-3" type="submit">Reset My Password</button>
 </form>
{% endblock %}

