{% extends './base.html' %}
{# TODO: i18n #}
{% block title %}Password reset sent{% endblock %}
{% block heading %}Password reset sent{% endblock %}
 
{% block navbar_text %}
<span class="d-none d-md-inline-block">Don't have an account?</span>
<a href="{% url 'users:register' %}">Sign up</a>
{% endblock %}
 
{% block content %}
 <p>We’ve emailed you instructions for setting your password, if an account
   exists with the email you entered. You should receive them shortly.</p>
 
 <p>If you don’t receive an email, please make sure you’ve entered the
   address you registered with, and check your spam folder.</p>
{% endblock %}

