{% extends "./base.html" %}
{% load i18n %}
 
{% block navbar_text %}
<span class="d-none d-md-inline-block">{% translate "Changed your mind?" %}</span>
<a href="{% url 'index' %}">{% translate "Home" %}</a>
{% endblock %}
 
{% block messages %}
{% if form.non_field_errors %}
 <div class="alert alert-danger" role="alert">
   {{ form.non_field_errors.0 }}
 </div>
{% endif %}
{% endblock %}
 
 
{% block content %}
 <form method="post" class="needs-validation" novalidate>
   {% csrf_token %}
  
   <p>{% translate "Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
 
   <div class="mb-2">
     <label class="form-label" for="{{ form.old_password.id_for_label }}">
         {{ form.old_password.label }}<sup>*</sup>
     </label>
     <input
       class="form-control form-control-lg {% if form.old_password.errors %}is-invalid{% endif %}"
       type="password"
       name="{{ form.old_password.html_name }}"
       id="{{ form.old_password.id_for_label }}"
       placeholder="{% translate 'Enter your old password' %}"
       value=""
       required
       autofocus
     >
     <div class="invalid-feedback">
       {% if form.old_password.errors %}
         {{ form.old_password.errors.0 }}
       {% endif %}
     </div>
   </div>
 
   <div class="mb-2">
     <label class="form-label" for="{{ form.new_password1.id_for_label }}">
         {{ form.new_password1.label }}<sup>*</sup>
     </label>
     <input
       class="form-control form-control-lg {% if form.new_password1.errors %}is-invalid{% endif %}"
       type="password"
       name="{{ form.new_password1.html_name }}"
       id="{{ form.new_password1.id_for_label }}"
       placeholder="{% translate 'Enter your new password' %}"
       aria-describedby="{{ form.new_password1.id_for_label }}Help"
       value=""
       required
     >
     <div class="invalid-feedback">
       {% if form.new_password1.errors %}
         {{ form.new_password1.errors.0 }}
       {% endif %}
     </div>
   </div>
 
   <div class="mb-3">
     <label class="form-label" for="{{ form.new_password2.id_for_label }}">
         {{ form.new_password2.label }}<sup>*</sup>
     </label>
     <input
       class="form-control form-control-lg {% if form.new_password2.errors %}is-invalid{% endif %}"
       type="password"
       name="{{ form.new_password2.html_name }}"
       id="{{ form.new_password2.id_for_label }}"
       placeholder="{% translate 'Confirm your new password' %}"
       value=""
       required
     >
     <div class="invalid-feedback">
       {% if form.new_password2.errors %}
         {{ form.new_password2.errors.0 }}
       {% endif %}
     </div>
   </div>
 
   <button class="btn btn-lg btn-primary w-100 mb-3" type="submit">
     {% translate "Change my password" %}
   </button>
 </form>
{% endblock %}

